.list {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	animation: appear 0.2s ease;
	margin-bottom: 1.5rem;
}

.player {
	display: flex;
	flex-direction: column;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
}
