.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
	text-align: center;

	.progress {
		--seconds: 3s;

		display: block;
		width: 100%;
		height: 0.375rem;
		border-radius: 1rem;
		background-color: var(--progress-bg);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			inset: 0 100% 0 -1px;
			background-color: var(--progress-fill);
			border-radius: inherit;
			animation: moving var(--seconds) ease-in-out infinite;
		}
	}
}

@keyframes moving {
	50% {
		inset-inline: -1px;
	}

	100% {
		inset-inline: 100% -1px;
	}
}
