.slide {
	flex: 0 0 100%;
	scroll-snap-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;

	svg {
		margin-top: 25vh;
		margin-bottom: 6rem;
	}
	.text {
		text-align: center;
		width: 75%;
	}

	transition: transform 0.3s cubic-bezier(0.8, 0.5, 0.5, 1.3);
	transform: scale(0.8);
	&.slideActive {
		transform: scale(1);
	}
}
