.score {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 1px;

	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset: 25% 0;
		z-index: -1;
		background-color: var(--score-split-color);
	}
}

.item {
	flex: 1;
	background-color: var(--bg-primary);

	> :first-child {
		animation: appear 0.2s ease-out;
	}
	> :last-child {
		color: var(--text-secondary);
		@include unselectable;
	}
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0);
	}
}
