.navigation {
	width: 100%;
	inset: auto 0 0 0;
	position: absolute;

	display: flex;
	justify-content: space-between;

	.back {
		color: var(--text-secondary);

		&:disabled {
			transform: scale(0);
			cursor: default;
		}
	}

	.next,
	.back {
		transition: transform 0.2s ease;
		&:active {
			transform: scale(0.95);
		}
	}

	.dots {
		display: flex;
		align-items: center;
		gap: 0.375rem;

		.dot {
			transition: transform 0.2s ease;

			position: relative;
			background-color: var(--fill-dot);
			border-radius: 50%;
			width: 0.75rem;
			height: 0.75rem;

			&::before {
				content: '';
				position: absolute;
				inset: -1px; // corrects color glitch
				border-radius: 50%;
				background-color: var(--fill-dot-active);

				transition: inherit;
				transform: scale(0);
			}

			@include hover {
				transform: scale(1.1);
			}

			&:active {
				transform: scale(0.95);
			}

			&.dotActive {
				pointer-events: none;
				cursor: default;

				&::before {
					transform: scale(1);
				}
			}
		}
	}
}
