.footer {
	width: 100%;
	padding: 0.625rem 1.5rem;
	border-top: 1px solid var(--border-secondary);
	display: flex;
	justify-content: end;
	gap: 0.625rem;
}

.reset {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);

	@include hover {
		background-color: var(--primary-color);
		color: var(--text-on-accent);
		opacity: 0.75;
	}
	&:active {
		background-color: var(--primary-color-hover);
		color: var(--text-on-accent);
		opacity: 1;
	}
}
.done {
	background-color: var(--primary-color);
	color: var(--text-on-accent);

	@include hover {
		background-color: var(--primary-color-hover);
	}
	&:active {
		background-color: var(--primary-color-active);
	}
}

.reset,
.done {
	padding: 0.625rem 2rem;
	border-radius: 0.375rem;
}
