.wrapper {
	width: 100%;
	height: 3.25rem;
	flex-shrink: 0;

	position: relative;
	transition: 0.15s ease;

	* {
		transition: inherit;
	}

	&:not(:has(input:focus, input:not(:placeholder-shown))) {
		color: var(--text-secondary);
	}

	> input {
		width: 100%;
		height: 100%;
		border: 1px solid var(--border-secondary);
		padding-inline: 3.25rem;

		&:focus,
		&:not(:placeholder-shown) {
			border-color: var(--border-active);

			~ label {
				border-color: var(--border-active);
				transform: translateY(-100%) scale(0.75);
			}
		}
	}

	> label,
	> svg {
		position: absolute;
		pointer-events: none;
		align-self: center;
	}

	> label {
		left: 3.25rem;
		align-content: center;

		transform-origin: left;
		height: 50%;

		background-color: var(--bg-primary);
		padding-inline: 0.25rem;
		border: 1px solid transparent;

		font-size: 0.875rem; // Body1
		white-space: nowrap;
		@include unselectable;
	}

	> svg {
		left: 0.875rem;
	}
}
