.texts {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: appear 0.2s ease;

	> :last-child {
		color: var(--text-secondary);
	}
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0);
	}
}
