.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.75rem;
	padding-block: 2rem;
}

.button {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;

	&.next {
		svg {
			transform: rotate(180deg);
		}
	}
}

.month {
	min-width: 8rem;
}
