.list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	animation: appear 0.2s ease;
	margin-bottom: 1.5rem;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info {
	display: flex;
	flex-direction: column;

	> :last-child {
		color: var(--text-secondary);
	}
}

.WON {
	color: var(--positive-color);
}

.LOST {
	color: var(--negative-color);
}

.DRAW {
	color: var(--text-secondary);
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
}
