.invisible {
	pointer-events: none;
	transition: opacity 0.3s cubic-bezier(0.8, 0.5, 0.35, 1.3);
	opacity: 0;
}
.slides {
	display: flex;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	overflow-x: scroll;
}
