.login {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	animation: appearing 0.2s ease;
}

@keyframes appearing {
	from {
		opacity: 0;
		transform: scale(0);
	}
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h2 {
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}
	.subtitle {
		color: var(--text-secondary);
	}
}

.social {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.progress {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.error {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;

	> p {
		margin-block: auto;
	}
}
