.item {
	transition: all 0.15s ease;
	display: flex;
	align-items: center;
	justify-content: space-between;

	cursor: pointer;
	margin: -0.5rem;
	padding: 0.5rem;
	border-radius: 0.25rem;

	@include hover {
		&:not(:has(button:hover)) {
			background-color: rgb(from var(--bg-primary-hover) r g b / 0.5);
		}
	}
	&:active {
		&:not(:has(button:active)) {
			background-color: rgb(from var(--bg-primary-active) r g b / 0.5);
		}
	}
	&:focus-visible {
		outline: none;
		background-color: rgb(from var(--bg-primary-active) r g b / 0.5);
	}
}
