.list {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;

	background-color: var(--bg-secondary);
	border-radius: 0.25rem;
	padding: 0.875rem;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.info {
	display: flex;
	flex-direction: column;

	> :last-child {
		color: var(--text-secondary);
	}
}

.WON {
	color: var(--positive-color);
}

.LOST {
	color: var(--negative-color);
}

.DRAW {
	color: var(--text-secondary);
}
