.header1 {
	font-weight: 700;
	font-size: 1.5rem;
}

.header2 {
	font-weight: 500;
	font-size: 1.5rem;
}

.subtitle1,
.subtitle1M {
	font-size: 1.125rem;
}

.subtitle2,
.subtitle2M {
	font-size: 1rem;
}

.body1,
.body1M {
	font-size: 0.875rem;
}

.body2 {
	font-size: 0.75rem;
}

.subtitle1M,
.subtitle2M,
.body1M {
	font-weight: 500;
}
